body {
  background-color: #efefff;
}

/* .jumbotron {
    /* add bootstrap jumbotron background image */
    /* background: url("images/banner.jpg"); */
    /* change bootstrap jumbotron text color */
    /* background-color: #003366; */
    /* color: #F0F0F0; */
/*} */

#idHeader {
    /* add bootstrap jumbotron background image */
    /* background: url("images/banner.jpg"); */
    /* change bootstrap jumbotron text color */
    background-color: #003366;
    color: #F0F0F0;
}


#topMarginoff { margin-top: 0px; }

#idRight {
  background: #f0f0f0;
}

#idLeft {
  background: #efefff;
}

#tituloParrafo {
  font-size: 18px;
}

p {
  font-size: 16px;
}

blockquote {
  background: #f0f0f0;
  border-left: 10px solid #003366;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote p {
  display: inline;
}

img {
  margin-top: 30px;
}